<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings>
  <add 
    name="TTEntities" 
    connectionString="metadata=
    res://SampleApp/ExampleData.TimeTrackerEntitiesModel.csdl|
    res://SampleApp/ExampleData.TimeTrackerEntitiesModel.ssdl|
    res://SampleApp/ExampleData.TimeTrackerEntitiesModel.msl;
    provider=System.Data.SQLite;
    provider connection string='data source=&quot;|DataDirectory|\ExampleData\TimeTracker.s3db&quot;'" 
    providerName="System.Data.EntityClient" />
</connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>